<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Lines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->  
      <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]='16'>
        <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng" iconUrl="assets/location1.png" width="50%">
            <agm-info-window>
              <strong>{{marcador.title}}</strong>
              <p>{{marcador.description}}</p>
            </agm-info-window>
        </agm-marker>
        <agm-polyline strokeColor="#125F0A" >
          <ng-container *ngFor="let i of marcadores">
            <agm-polyline-point [latitude]="i.lat" [longitude]="i.lng"></agm-polyline-point>
          </ng-container>
        </agm-polyline>
      </agm-map>
    </ion-card-content>
  </ion-card>
</ion-content>
